/* Variables */
:root {
    --p-text-color: #999;  /* var(--p-text-color) */
    --h-text-color: #555;  /* var(--h-text-color) */
    --g-text-color: #111;  /* var(--g-text-color) */
}

/* --- General Styles --- */

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #000000, #111111);
    background-attachment: fixed;
}

/* defualt horizontal line */
hr {
    border: none; /* removes default border styling */
    height: 1px;
    background-color: rgb(95, 231, 135);
    margin: 10px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button a:hover {
    color: var(--p-text-color);
    text-decoration: none;
    color: var(--g-text-color);
}


a {
    color: var(--p-text-color);
    text-decoration: none;
}

a:visited {
    color: var(--p-text-color);
}

/* change settins by ID when the view port is less than 800 pixles */
@media (max-width: 800px) {
    #header {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #introduction {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #horizontal-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #project-board{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

/* --- HEADER --- */

/* Header Styling */
.header {
    /* container styles */
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
    
    /* default colors */
    color: white;
    
    /* blurry background */
    background-color: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    /* sizing */
    width: 60%;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* Title Styling */
.header-title {
    /* responsive font */
    font-size: min(5vw, 24px);
    text-decoration: none;
    color: white;

    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px; /* Adds rounded corners */
}

/* head visited styleing */
.header-title:visited {
    /* set visited color to the defual color */
    color: white
}

/* Title Hover Effect */
.header-title:hover {
    background-color: rgb(95, 231, 135);
    color: var(--g-text-color);
}

/* header button container styling */
.header-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* individual header button Styling */
.header-buttons button {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: var(--p-text-color);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, text-decoration 0.3s;
}

/* button hover animation*/
.header-buttons button:hover {
    background-color: rgb(95, 231, 135);
    text-decoration: underline;
    color: var(--g-text-color);
}


/* --- BODY --- */

/* Introduction Section */
.introduction {
    width: 60%;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;

    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
}

/* intro titles */
.introduction h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--h-text-color);
}

/* intro paragraph */
.introduction p {
    font-size: 18px;
    color: #999;
}

.introduction a{
    color: var(--p-text-color);
}

.introduction a:visited{
    color: var(--p-text-color);
}

/* full paragraph */
.full-paragraph {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    align-items: center;
    vertical-align: auto;
}

.full-paragraph h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--h-text-color);
}

.full-paragraph p {
    font-size: 18px;
    color: var(--p-text-color);
}

.horizontal-container {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    overflow-x: auto;
    display: flex;
    align-items: center;
}



/* Project Board Section */
.project-board {
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
}

.project-board h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--h-text-color);
}

/* project preview stuff */

.project-preview{
    height: 50%;
}

.resizable-box {
    width: 100%; /* Set an initial width */
    height: 100%; /* Set an initial height */
    position: relative; /* Needed for resizing */
    overflow: hidden; /* Prevents the content from overflowing */
    resize: both; /* Enables both horizontal and vertical resizing */
    box-sizing: border-box; /* Ensures padding/border is included in the element's total width/height */
}


/* Project Cards */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
    gap: 20px;
    padding: 10px;
}

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: var(--h-text-color);
}

/* remove the link visitied effect */
.project-card:visited h3 {
    color: var(--h-text-color);
}

/* project card paragraph text */
.project-card p {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--p-text-color);
}

.project-card a {
    text-decoration: none;
    color: rgb(95, 231, 135);
    font-weight: bold;
}

.project-card {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.card-link a{
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: auto;
    text-decoration: none;
    color: inherit;
}

/* --- ANIMATED PROJECT CARD --- */
.card-front, .card-back {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform-origin: center;
    border: 1px solid #ccc;
    border-radius: 8px;

}

/* Initial state */
.card-back {
    background-color: #222;
    position: absolute;
    transform: scaleY(0);
    pointer-events: none;
    
    opacity: 0;
}

/* Hover effect */
.project-card:hover .card-front {
    animation: shrink-and-hide 0.2s forwards;
}

.project-card:hover .card-back {
    animation: grow-and-show 0.2s 0.2s forwards;
}

/* hover animations */
@keyframes shrink-and-hide {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    
    99% {
        opacity: 1;
    }

    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes grow-and-show {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}