/* Variables */
:root {
    --p-text-color: #999;  /* var(--p-text-color) */
    --h-text-color: #666;  /* var(--h-text-color) */
    --g-text-color: #111;  /* var(--g-text-color) */
}

/* --- General Styles --- */

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    scroll-behavior: smooth;
    overflow: visible;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}


/* defualt horizontal line */
hr {
    border: none;
    height: 1px;
    background-color: rgb(95, 231, 135);
    margin: 10px 0;
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 0px 0px 3px 0.4px rgb(95, 231, 135);
}

/* defualt link */
a {
    text-decoration: none;
    color: var(--p-text-color);
}

/* defualt link hover */
button a:hover {
    text-decoration: none;
    color: var(--g-text-color);
}

/* defualt visited link */
a:visited {
    color: var(--p-text-color);
}

/* unordered list defualt styling */
ul {
    color: var(--p-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* defualt small link on hover*/
small a:hover {
    text-decoration: underline;
}

/* defualt small link */
small a {
    color: var(--p-text-color);
}

/* selecting text default colors */
::selection {
    background-color: #fff;
    color: #111;
}

/* change settins by ID when the view port is less than 800 pixles */
@media (max-width: 800px) {
    #header {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    #introduction {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    #horizontal-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    #project-board{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

/* --- BACKGROUND --- */

/* parallax effect */
.parallax {
    background-color: #000000;
    background-image: url('images/3d.png');
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    position: relative;
}

/* blur effect */
.blur{
    z-index: -1;
    position: fixed;
    backdrop-filter: blur(0.5px);
    filter: brightness(1.5);
    filter: saturate(1.05);
    height: 100%;
    width: 100%;
}

/* --- HEADER --- */

/* Header Styling */
.header {
    /* container styles */
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    
    /* default colors */
    color: white;
    
    /* blurry background */
    transition: background-color 3s;
    background-color: rgba(40, 40, 40, 0.5);
    
    transition: backdrop-filter 0.2s;
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(5px); */
    
    /* sizing */
    width: 60%;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header:hover{
    background-color: rgba(45, 45, 45, 0.4);
    backdrop-filter: blur(10px);
}


/* Title Styling */
.header-title {
    /* responsive font */
    font-size: min(5vw, 24px);
    text-decoration: none;
    color: white;

    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px; /* Adds rounded corners */
}

/* head visited styleing */
.header-title:visited {
    /* set visited color to the defual color */
    color: white
}

/* Title Hover Effect */
.header-title:hover {
    background-color: rgb(95, 231, 135);
    color: var(--g-text-color);
}

/* header button container styling */
.header-buttons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}

/* individual header button Styling */
.header-buttons button {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: var(--p-text-color);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, text-decoration 0.3s;
}

/* button hover animation*/
.header-buttons button:hover {
    background-color: rgb(95, 231, 135);
    text-decoration: underline;
    color: var(--g-text-color);
}


/* --- BODY --- */

/* Tool tip */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    /* text color before hover */
    color: #999;
    transition: color 0.3s;
}

.tooltip:hover {
    /* text color after hover */
    color: #bbb;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;

    /* Positioning */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -75px;

    /* Fade-in effect */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Introduction Section */
.introduction {
    width: 60%;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;

    text-align: left;
    background-color: transparent;
    box-sizing: border-box;
}

/* intro titles */
.introduction h1 {
    font-size: 32px;
    margin: 10px;
    color: var(--h-text-color);
}

/* intro paragraph */
.introduction p {
    font-size: 18px;
    color: #999;
}

/* intro link */
.introduction a{
    color: var(--p-text-color);
}

/* intro link visited */
.introduction a:visited{
    color: var(--p-text-color);
}

/* full paragraph */
.full-paragraph {
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: transparent;
    align-items: center;
    vertical-align: auto;
}

.full-paragraph h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--h-text-color);
}

.full-paragraph p {
    font-size: 18px;
    color: var(--p-text-color);
}

.horizontal-container {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    overflow-x: auto;
    display: flex;
    align-items: top;
}



/* Project Board Section */
.project-board {
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 28px;
    margin-bottom: 7px;
    color: var(--h-text-color);
}

/* project preview stuff */

.project-preview{
    height: 90%;
}

.resizable-box {
    width: 100%; /* Set an initial width */
    height: 100%; /* Set an initial height */
    position: relative; /* Needed for resizing */
    overflow: hidden; /* Prevents the content from overflowing */
    resize: both; /* Enables both horizontal and vertical resizing */
    box-sizing: border-box; /* Ensures padding/border is included in the element's total width/height */
}


/* Project Cards */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
    gap: 20px;
    padding: 10px;
}

.project-card h3 {
    font-size: 20px;
    margin: 5px;
    margin-top: 10px;
    text-decoration: underline;
    color: var(--h-text-color);
}

/* remove the link visitied effect */
.project-card:visited h3 {
    color: var(--h-text-color);
}

/* project card paragraph text */
.project-card p {
    font-size: 16px;
    margin-bottom: 10px;
    margin: 5px;
    color: var(--p-text-color);
}

.project-card a {
    text-decoration: none;
    color: rgb(95, 231, 135);
    font-weight: bold;
}

.project-card {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.card-link a{
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: auto;
    text-decoration: none;
    color: inherit;
}

/* --- ANIMATED PROJECT CARD --- */
.card-front, .card-back {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: center;
    transform-origin: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Initial state */
.card-back {
    background: rgba(80, 80, 80, 0.3);
    position: absolute;
    transform: scaleY(0);
    pointer-events: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

/* Hover effect */
.project-card:hover .card-front {
    animation: shrink-and-hide 0.2s forwards;
}

.project-card:hover .card-back {
    animation: grow-and-show 0.2s 0.2s forwards;
}

/* hover animations */
@keyframes shrink-and-hide {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    
    99% {
        opacity: 1;
    }

    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes grow-and-show {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}