/* Base Styling */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#canvas-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    border: 2px solid var(--border-color);
    background: #111;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

canvas {
    width: 100%;
    height: auto;
    display: block;
}